@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

// Tabla base

.table-container {
    width: 100%;
    overflow-x: auto;
    text-align: center; 
    margin: 0 auto;
    th, td {
        text-align: center;
        font-size: 1.7rem;
    }
}
.table-scroll {
    max-height: 300px;   /* o el alto que quieras */
    overflow-y: auto;    /* scroll vertical */
    overflow-x: auto;    /* scroll horizontal si la tabla es muy ancha */
    display: block;      /* importante para que el contenedor respete el alto */
}
